.Navbar{
  border-bottom: 4px solid black;
}
.Hero{
  border-bottom: 4px solid black;
}
.Search{
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}